# See http://www.appveyor.com/docs/appveyor-yml for many more options

#environment:
#  Coveralls_Key:
#    secure: mOSiObC2c5LUU57K47frbcUotaYZC6ni0j/YxBHMrSMNxgsYzStPXxhwgXW6VJQy
#  NugetApiKey:
#    secure: iR4vlP9ilby8LTXXncpzN5bwnE7pMBD5pHDDSfA7qnU+/N6RY1GSxMgb78gV104x

# Allow WMF5 (i.e. PowerShellGallery functionality)
os: WMF 5

# Skip on updates to the readme.
# We can force this by adding [skip ci] or [ci skip] anywhere in commit message 
skip_commits:
  message: /updated (readme|doc).*|update (readme|doc).*s/

build: off

# Kick off the CI/CD pipeline
# test_script:
#  - ps: . .\build.ps1

build_script:
  - ps: . .\build.ps1